.navbar ul {
    list-style: none;
    text-decoration-style: none;
    /* display: block; */
    float: right;
}

.navbar ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

li a {
    padding: 25px 10px;
    text-decoration-style: none;
    color: #fff;
}

li a:hover {
    text-decoration-style: none;
    background-color: #01468c;
    height: 20px;
    color: #fff;
}

.nav-wrapper {
    box-shadow: 2px 2px 5px grey;
    width: 100%;
}
